# Database Credentials (Make sure MYSQLUSER is NOT blank)
MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLDATABASE=laybhari_db
MYSQLUSER=root
MYSQLPASSWORD=nihar@360
MYSQL_ROOT_PASSWORD=nihar@360
MYSQL_DATABASE=laybhari_db
